body {
    background: rgb(17, 2, 17);
}

.container {
    background: white;
    margin-top: 100px;
    margin-left: 370px;
    width: 50%;
    height: 70%;
    border-radius:5px;  
    padding-top: 30px;
    display: block;
}

h1 {
    color:rgb(17, 2, 17);
}

.middle-div {
    margin-left: 200px;
    margin-top:20px;
}

/* table {
    margin-top: -100px;
    width:400px;
    border: 2px solid black;
    padding: 0px;
    word-spacing: 0px;
    margin-left: -60px;
}

table td {
    border: 2px solid black;
} */

.user-input input {
    margin-left:10px;
    height: 40px;
    width: 200px;
    font-size:20px;
}

.user-input {
    margin-left: -50px;
}

button {
    height: 50px;
    width:100px;
    background:rgb(17, 2, 17);
    border-style: none;
    font-family: sans-serif;
    font-size: 20px;
    color:white;
    margin-left:20px;
    height: 40px;
}
p {
    color:rgb(17, 2, 17);
    text-align: center;
    margin-left:-250px;
}